@font-face {
    font-family: "Montserrat-Italic";
    src: url("C:\GitHub\intro-to-layout-Bakhadyr04\static\fonts\Montserrat-Italic.ttf");
}
* {
    box-sizing: border-box;
}
* {
    padding: 0;
}
body {
    font-family: sans-serif;
    margin: 0;
}

header {
    background-color: tomato;
    /* margin: 0 auto;
    max-width: 700px; */
}
section {
    background-color: grey; 
}
.wrapper {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    padding: 0 1rem;
}