@font-face {
    font-family: "Montserrat-Medium";
    src: url("Montserrat\static\Montserrat-Medium.ttf");
}

:root {
    
}

.a{ text-decoration: none}

.trip{
    font-family: "Montserrat-Medium", sans-serif;
    color: var();
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 3200%;
    height: 100vh;
    background-image: url("jpg/background.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: content-box;
}
.firstpage {
    background-image:
}


.main {
    margin-left: 20px;
}

.li1 {
    display: inline-flex;
}
.li2 {
    display: inline-flex;
}
.icon1 {
    color: #121214;
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 120%;
}
.icon2 {
    color: #121214;
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 120%;
}