@font-face {
    font-family: "Montserrat-Italic";
    src: url("")
}
* {
    box-sizing: border-box;
}
:root{
    --black-text-color: #121214;
    --button-color: #037E8C;
    --light-text-color: #FFFFFF;
}
body {
    font-family: sans-serif;
    margin: 0;
}

header {
    background-color: tomato;
    /* margin: 0 auto;
    max-width: 700px; */
}
section {
    background-color: grey; 
}
.wrapper {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    padding: 0 1rem;
}
.icon-1 {
    viewBox: "0 0 31 32";
}